---
layout: default
title: About me
permalink: /about/
education:
  - title: "Ho Chi Minh University of Education & Technology"
    place: "Ho Chi Minh city, Vietnam"
    subtitle: "Bachelor of Information Technology"
    time: "2021 - 2025"
    description: "Top 1 VVN"
  - title: "Nguyen Khuyen Prison"
    place: "Ho Chi Minh city, Vietnam"
    subtitle: "Vietnam National High School Graduation Examination"
    time: "2018 - 2021"
    description: ""
awards:
  - title: "Golden period of 24"
    place: "by Every school I've learned"
    subtitle: "Being Exellent Student for 24-semesters-in-a-row"
    time: "2009-2021"
    description: ""
  - title: "Vietnam Olympiad of Informatics"
    place: "by MoET"
    subtitle: "Consolation Prize, Ranked #4"
    time: "2022"
    description: "An annual competitive programming contest held by the Ministry of Education and Training of Vietnam
    for high-school students to select representatives for the International Olympiad of Informatics (IOI)."
  - title: "Giao lưu An toàn giao thông cho nụ cười trẻ thơ cấp quốc gia"
    place: "by Ministry of Education and Training of Vietnam"
    subtitle: "Consolation Prize, Ranked #26"
    time: "2014"
    description: "An annual propagandistic contest about traffic safety for children age 5-10" 
activities:
  - title: "Vietnam Summer School of Science"
    place: "Rencontres du Vietnam"
    subtitle: "Student"
    time: "2021"
    description: "VSSS is a non-profit organization aiming to inspire Vietnamese young people and prepare them necessary skills to be successful in the academia. Funded by Rencontres du Vietnam, VSSS holds annual conferences where they teach reasoning and research methods for all fields of study."
  - title: "Google Summer of Code"
    place: "CGAL Project & Google LLC"
    subtitle: "Student Developer"
    time: "2021, 2022"
    description: "An annual program in which Google awards stipends to all students who successfully complete a
    requested free and open-source software coding project during the summer."
experience:
  - title: "Ho Chi Minh University of Education & Technology"
    place: "Ho Chi Minh city, Vietnam"
    subtitle: "IT Student"
    time: "2021 - now"
    description: ""
---

<blockquote>
  In character, in manner, in style, in all things, the supreme excellence is simplicity.<br>
  &mdash; Henry Wadsworth Longfellow
</blockquote>

<h1>Education</h1>
<hr>

<ul>
  {% for cv-entry in page.education %}
  <li>{% include cv-entry.html %}</li>
  <br>
  {% endfor %}
</ul>

<h1>Experience</h1>
<hr>

<ul>
  {% for cv-entry in page.experience %}
  <li>{% include cv-entry.html %}</li>
  <br>
  {% endfor %}
</ul>

<h1>Awards and Honours</h1>
<hr>

<ul>
  {% for cv-entry in page.awards %}
  <li>{% include cv-entry.html %}</li>
  <br>
  {% endfor %}
</ul>

<h1>Activities</h1>
<hr>

<ul>
  {% for cv-entry in page.activities %}
  <li>{% include cv-entry.html %}</li>
  <br>
  {% endfor %}
</ul>
